<footer>
  <section>
    <div>
      <div class="header">
        <img [src]="logoIcon" alt="">
        <h3>Digilearn</h3>
      </div>
      <p>Unlock Digital Mastery Effortlessly!
        Explore and enhance your skills
        with our user-friendly platform.</p>
    </div>
    <div class="menu">
      <h3 class="header">Quick links</h3>
      <a href="">About us</a>
      <a href="">Our Class</a>
      <a href="">Blog</a>
      <a href="">Contact</a>
    </div>
    <div class="menu">
      <h3 class="header">Resources</h3>
      <a href="">Support</a>
      <a href="">Privacy policy</a>
      <a href="">Terms & Conditions</a>
    </div>
    <div>
      <h3 class="header">Social media</h3>
      <div class="socials">
        <a href=""><img [src]="logoFB" alt=""></a>
        <a href=""><img [src]="logoTwit" alt=""></a>
        <a href=""><img [src]="logoInsta" alt=""></a>
        <a href=""><img [src]="logoLinked" alt=""></a>
        <a href=""><img [src]="logoYT" alt=""></a>
      </div>
    </div>

  </section>
</footer>
