section{
  width: 100%;
  max-width: 1136px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  display: flex;
  gap: 80px;
}

button {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  background: #A4074D;
  color: white;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  padding: 24px 76px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.decor_line{
  width: 64px;
  border-bottom: 4px solid #A4074D;
}

.catchword {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #1A2434;
}

h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-align: left;
}

.key_facts {
  width: 100%;
  max-width: 1136px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.key_fact_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 60px;
}

h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: Plus Jakarta Sans;
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  letter-spacing: 0em;
  text-align: center;
}

span {
  color:#A4074D;
}

.fact_description {
  text-align: center;
  margin-top: 20px;
}

.banner_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.description_text {
  margin-bottom: 16px;
}
